

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">SB Admin v2.0</a>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-messages">
        <li>
          <a href="#">
            <div>
              <strong>John Smith</strong>
              <span class="pull-right text-muted">
                <em>Yesterday</em>
              </span>
            </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <strong>John Smith</strong>
              <span class="pull-right text-muted">
                <em>Yesterday</em>
              </span>
            </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <strong>John Smith</strong>
              <span class="pull-right text-muted">
                <em>Yesterday</em>
              </span>
            </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a class="text-center" href="#">
            <strong>Read All Messages</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
      <!-- /.dropdown-messages -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-tasks">
        <li>
          <a href="#">
            <div>
              <p>
                <strong>Task 1</strong>
                <span class="pull-right text-muted">40% Complete</span>
              </p>
              <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                  <span class="sr-only">40% Complete (success)</span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <p>
                <strong>Task 2</strong>
                <span class="pull-right text-muted">20% Complete</span>
              </p>
              <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                  <span class="sr-only">20% Complete</span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <p>
                <strong>Task 3</strong>
                <span class="pull-right text-muted">60% Complete</span>
              </p>
              <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                  <span class="sr-only">60% Complete (warning)</span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <p>
                <strong>Task 4</strong>
                <span class="pull-right text-muted">80% Complete</span>
              </p>
              <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                  <span class="sr-only">80% Complete (danger)</span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a class="text-center" href="#">
            <strong>See All Tasks</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
      <!-- /.dropdown-tasks -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-alerts">
        <li>
          <a href="#">
            <div>
              <i class="fa fa-comment fa-fw"></i> New Comment
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <i class="fa fa-twitter fa-fw"></i> 3 New Followers
              <span class="pull-right text-muted small">12 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <i class="fa fa-envelope fa-fw"></i> Message Sent
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <i class="fa fa-tasks fa-fw"></i> New Task
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <i class="fa fa-upload fa-fw"></i> Server Rebooted
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a class="text-center" href="#">
            <strong>See All Alerts</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
      <!-- /.dropdown-alerts -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
        </li>
        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <li class="divider"></li>
        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav in" id="side-menu">
        <li class="sidebar-search">
          <div class="input-group custom-search-form">
            <input class="form-control" placeholder="Search..." type="text">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
          </div>
          <!-- /input-group -->
        </li>
        <li>
          <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse in">
            <li>
              <a href="flot.html" class="active">Flot Charts</a>
            </li>
            <li>
              <a href="morris.html">Morris.js Charts</a>
            </li>
          </ul>
          <!-- /.nav-second-level -->
        </li>
        <li>
          <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
        </li>
        <li>
          <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse">
            <li>
              <a href="panels-wells.html">Panels and Wells</a>
            </li>
            <li>
              <a href="buttons.html">Buttons</a>
            </li>
            <li>
              <a href="notifications.html">Notifications</a>
            </li>
            <li>
              <a href="typography.html">Typography</a>
            </li>
            <li>
              <a href="icons.html"> Icons</a>
            </li>
            <li>
              <a href="grid.html">Grid</a>
            </li>
          </ul>
          <!-- /.nav-second-level -->
        </li>
        <li>
          <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse">
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a href="#">Third Level <span class="fa arrow"></span></a>
              <ul class="nav nav-third-level collapse">
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
              </ul>
              <!-- /.nav-third-level -->
            </li>
          </ul>
          <!-- /.nav-second-level -->
        </li>
        <li>
          <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse">
            <li>
              <a href="blank.html">Blank Page</a>
            </li>
            <li>
              <a href="login.html">Login Page</a>
            </li>
          </ul>
          <!-- /.nav-second-level -->
        </li>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>

<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Flot</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Line Chart Example
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="flot-chart">
            <div class="flot-chart-content" id="flot-line-chart" style="padding: 0px; position: relative;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1007px; height: 400px;" width="1007" height="400"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"><div style="position: absolute; max-width: 77px; top: 381px; left: 23px; text-align: center;" class="flot-tick-label tickLabel">0</div><div style="position: absolute; max-width: 77px; top: 381px; left: 104px; text-align: center;" class="flot-tick-label tickLabel">1</div><div style="position: absolute; max-width: 77px; top: 381px; left: 185px; text-align: center;" class="flot-tick-label tickLabel">2</div><div style="position: absolute; max-width: 77px; top: 381px; left: 266px; text-align: center;" class="flot-tick-label tickLabel">3</div><div style="position: absolute; max-width: 77px; top: 381px; left: 347px; text-align: center;" class="flot-tick-label tickLabel">4</div><div style="position: absolute; max-width: 77px; top: 381px; left: 428px; text-align: center;" class="flot-tick-label tickLabel">5</div><div style="position: absolute; max-width: 77px; top: 381px; left: 510px; text-align: center;" class="flot-tick-label tickLabel">6</div><div style="position: absolute; max-width: 77px; top: 381px; left: 591px; text-align: center;" class="flot-tick-label tickLabel">7</div><div style="position: absolute; max-width: 77px; top: 381px; left: 672px; text-align: center;" class="flot-tick-label tickLabel">8</div><div style="position: absolute; max-width: 77px; top: 381px; left: 753px; text-align: center;" class="flot-tick-label tickLabel">9</div><div style="position: absolute; max-width: 77px; top: 381px; left: 831px; text-align: center;" class="flot-tick-label tickLabel">10</div><div style="position: absolute; max-width: 77px; top: 381px; left: 912px; text-align: center;" class="flot-tick-label tickLabel">11</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"><div style="position: absolute; top: 337px; left: 2px; text-align: right;" class="flot-tick-label tickLabel">-1.0</div><div style="position: absolute; top: 261px; left: 2px; text-align: right;" class="flot-tick-label tickLabel">-0.5</div><div style="position: absolute; top: 184px; left: 6px; text-align: right;" class="flot-tick-label tickLabel">0.0</div><div style="position: absolute; top: 108px; left: 6px; text-align: right;" class="flot-tick-label tickLabel">0.5</div><div style="position: absolute; top: 31px; left: 6px; text-align: right;" class="flot-tick-label tickLabel">1.0</div></div></div><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1007px; height: 400px;" width="1007" height="400"></canvas><div class="legend"><div style="position: absolute; width: 46px; height: 33.3333px; top: 14px; right: 13px; background-color: rgb(255, 255, 255); opacity: 0.85;"> </div><table style="position:absolute;top:14px;right:13px;;font-size:smaller;color:#545454"><tbody><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(237,194,64);overflow:hidden"></div></div></td><td class="legendLabel">sin(x)</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(175,216,248);overflow:hidden"></div></div></td><td class="legendLabel">cos(x)</td></tr></tbody></table></div></div>
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Pie Chart Example
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="flot-chart">
            <div class="flot-chart-content" id="flot-pie-chart" style="padding: 0px; position: relative;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 472.5px; height: 400px;" width="472" height="400"></canvas><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 472.5px; height: 400px;" width="472" height="400"></canvas><div class="legend"><div style="position: absolute; width: 56px; height: 66.6667px; top: 5px; right: 5px; background-color: rgb(255, 255, 255); opacity: 0.85;"> </div><table style="position:absolute;top:5px;right:5px;;font-size:smaller;color:#545454"><tbody><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(237,194,64);overflow:hidden"></div></div></td><td class="legendLabel">Series 0</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(175,216,248);overflow:hidden"></div></div></td><td class="legendLabel">Series 1</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(203,75,75);overflow:hidden"></div></div></td><td class="legendLabel">Series 2</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(77,167,77);overflow:hidden"></div></div></td><td class="legendLabel">Series 3</td></tr></tbody></table></div></div>
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Multiple Axes Line Chart Example
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="flot-chart">
            <div class="flot-chart-content" id="flot-line-chart-multi" style="padding: 0px; position: relative;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 472.5px; height: 400px;" width="472" height="400"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"><div style="position: absolute; max-width: 52px; top: 381px; left: 3px; text-align: center;" class="flot-tick-label tickLabel">Jan 2007</div><div style="position: absolute; max-width: 52px; top: 381px; left: 61px; text-align: center;" class="flot-tick-label tickLabel">Apr 2007</div><div style="position: absolute; max-width: 52px; top: 381px; left: 122px; text-align: center;" class="flot-tick-label tickLabel">Jul 2007</div><div style="position: absolute; max-width: 52px; top: 381px; left: 181px; text-align: center;" class="flot-tick-label tickLabel">Oct 2007</div><div style="position: absolute; max-width: 52px; top: 381px; left: 241px; text-align: center;" class="flot-tick-label tickLabel">Jan 2008</div><div style="position: absolute; max-width: 52px; top: 381px; left: 300px; text-align: center;" class="flot-tick-label tickLabel">Apr 2008</div><div style="position: absolute; max-width: 52px; top: 381px; left: 361px; text-align: center;" class="flot-tick-label tickLabel">Jul 2008</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"><div style="position: absolute; top: 368px; left: 14px; text-align: right;" class="flot-tick-label tickLabel">0</div><div style="position: absolute; top: 307px; left: 8px; text-align: right;" class="flot-tick-label tickLabel">25</div><div style="position: absolute; top: 245px; left: 8px; text-align: right;" class="flot-tick-label tickLabel">50</div><div style="position: absolute; top: 184px; left: 8px; text-align: right;" class="flot-tick-label tickLabel">75</div><div style="position: absolute; top: 123px; left: 2px; text-align: right;" class="flot-tick-label tickLabel">100</div><div style="position: absolute; top: 62px; left: 2px; text-align: right;" class="flot-tick-label tickLabel">125</div><div style="position: absolute; top: 1px; left: 2px; text-align: right;" class="flot-tick-label tickLabel">150</div></div><div class="flot-y-axis flot-y2-axis yAxis y2Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"><div style="position: absolute; top: 368px; left: 438px;" class="flot-tick-label tickLabel">0.600€</div><div style="position: absolute; top: 307px; left: 438px;" class="flot-tick-label tickLabel">0.633€</div><div style="position: absolute; top: 245px; left: 438px;" class="flot-tick-label tickLabel">0.667€</div><div style="position: absolute; top: 184px; left: 438px;" class="flot-tick-label tickLabel">0.700€</div><div style="position: absolute; top: 123px; left: 438px;" class="flot-tick-label tickLabel">0.733€</div><div style="position: absolute; top: 62px; left: 438px;" class="flot-tick-label tickLabel">0.767€</div><div style="position: absolute; top: 1px; left: 438px;" class="flot-tick-label tickLabel">0.800€</div></div></div><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 472.5px; height: 400px;" width="472" height="400"></canvas><div class="legend"><div style="position: absolute; width: 138px; height: 33.3333px; bottom: 29px; left: 30px; background-color: rgb(255, 255, 255); opacity: 0.85;"> </div><table style="position:absolute;bottom:29px;left:30px;;font-size:smaller;color:#545454"><tbody><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(237,194,64);overflow:hidden"></div></div></td><td class="legendLabel">Oil price ($)</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(175,216,248);overflow:hidden"></div></div></td><td class="legendLabel">USD/EUR exchange rate</td></tr></tbody></table></div></div>
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Moving Line Chart Example
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="flot-chart">
            <div class="flot-chart-content" id="flot-line-chart-moving" style="padding: 0px; position: relative;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 472.5px; height: 400px;" width="472" height="400"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"><div style="position: absolute; top: 361px; left: 33px; text-align: right;" class="flot-tick-label tickLabel">0</div><div style="position: absolute; top: 297px; left: 27px; text-align: right;" class="flot-tick-label tickLabel">20</div><div style="position: absolute; top: 234px; left: 27px; text-align: right;" class="flot-tick-label tickLabel">40</div><div style="position: absolute; top: 170px; left: 27px; text-align: right;" class="flot-tick-label tickLabel">60</div><div style="position: absolute; top: 107px; left: 27px; text-align: right;" class="flot-tick-label tickLabel">80</div><div style="position: absolute; top: 43px; left: 21px; text-align: right;" class="flot-tick-label tickLabel">100</div></div></div><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 472.5px; height: 400px;" width="472" height="400"></canvas></div>
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Bar Chart Example
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="flot-chart">
            <div class="flot-chart-content" id="flot-bar-chart" style="padding: 0px; position: relative;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 472.5px; height: 400px;" width="472" height="400"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"><div style="position: absolute; max-width: 59px; top: 381px; left: 74px; text-align: center;" class="flot-tick-label tickLabel">12/05</div><div style="position: absolute; max-width: 59px; top: 381px; left: 141px; text-align: center;" class="flot-tick-label tickLabel">12/07</div><div style="position: absolute; max-width: 59px; top: 381px; left: 209px; text-align: center;" class="flot-tick-label tickLabel">12/09</div><div style="position: absolute; max-width: 59px; top: 381px; left: 276px; text-align: center;" class="flot-tick-label tickLabel">12/11</div><div style="position: absolute; max-width: 59px; top: 381px; left: 344px; text-align: center;" class="flot-tick-label tickLabel">12/13</div><div style="position: absolute; max-width: 59px; top: 381px; left: 412px; text-align: center;" class="flot-tick-label tickLabel">12/15</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"><div style="position: absolute; top: 368px; left: 20px; text-align: right;" class="flot-tick-label tickLabel">0</div><div style="position: absolute; top: 315px; left: 2px; text-align: right;" class="flot-tick-label tickLabel">1000</div><div style="position: absolute; top: 263px; left: 2px; text-align: right;" class="flot-tick-label tickLabel">2000</div><div style="position: absolute; top: 210px; left: 2px; text-align: right;" class="flot-tick-label tickLabel">3000</div><div style="position: absolute; top: 158px; left: 2px; text-align: right;" class="flot-tick-label tickLabel">4000</div><div style="position: absolute; top: 106px; left: 2px; text-align: right;" class="flot-tick-label tickLabel">5000</div><div style="position: absolute; top: 53px; left: 2px; text-align: right;" class="flot-tick-label tickLabel">6000</div><div style="position: absolute; top: 1px; left: 2px; text-align: right;" class="flot-tick-label tickLabel">7000</div></div></div><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 472.5px; height: 400px;" width="472" height="400"></canvas></div>
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Flot Charts Usage
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <p>Flot is a pure JavaScript plotting library for jQuery, with a focus on simple usage, attractive looks, and interactive features. In SB Admin, we are using the most recent version of Flot along with a few plugins to enhance the user experience. The Flot plugins being used are the tooltip plugin for hoverable tooltips, and the resize plugin for fully responsive charts. The documentation for Flot Charts is available on their website, <a target="_blank" href="http://www.flotcharts.org/">http://www.flotcharts.org/</a>.</p>
          <a target="_blank" class="btn btn-default btn-lg btn-block" href="http://www.flotcharts.org/">View Flot Charts Documentation</a>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
  </div>
  <!-- /.row -->
</div>
<!-- /#page-wrapper -->

