<!DOCTYPE html>
<html>
  <head>
    <title>ServiceSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="header">

  </header>

  <body>
    <div class="main-block">
      <%= yield %>
    </div>
  </body>
</html>
